<nz-layout class="layout">
  <nz-header *ngIf="isLoggedIn">
    <div nz-row>
      <div nz-col nzSpan="4" style="color: white;">{{title}}</div>
      <div nz-col nzSpan="16">
        <ul nz-menu nzTheme="dark" nzMode="horizontal">
          <li nz-menu-item>Home</li>
          <li nz-menu-item>Projects</li>
          <li nz-menu-item>Accounts</li>
          <li nz-menu-item>Master</li>
        </ul>
      </div>
      <div nz-col nzSpan="4">
        <nz-avatar nzIcon="user"></nz-avatar>
      </div>
    </div>
  </nz-header>
  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>
</nz-layout>
