<nz-card class="sticky-header">
  <nz-page-header nzTitle="My Accounts"></nz-page-header>
</nz-card>

<nz-card class="centered">
  <div nz-row>
    <div nz-col nzSpan="3"></div>
    <div nz-col nzSpan="18">
      <app-accounts-form (submitEvent)="onFormSubmit($event)"></app-accounts-form>
    </div>
    <div nz-col nzSpan="3"></div>
  </div>
</nz-card>

<nz-card class="centered">
  <div nz-row>
    <div nz-col nzSpan="3"></div>
    <div nz-col nzSpan="18">
      <app-accounts-list [dataSource]="accountsDetails"></app-accounts-list>
    </div>
    <div nz-col nzSpan="3"></div>
  </div>
</nz-card>
